<%= link_to product_path(product), class: 'product' do %>
    <%= image_tag product.photo, width: 100 if product.photo.attached? %>
    <h3><%= product.name %></h3>
    <span><%= product.price %></span>
<%end%>